- name: Install Libraries
        # ⚠️ ADDED supabase and cryptography HERE
        run: pip install selenium webdriver-manager supabase cryptography

      - name: Run Attendance Script
        env:
          # ⚠️ CHANGED: Now using Database Secrets
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
          MASTER_KEY: ${{ secrets.MASTER_KEY }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python attendance.py
